<div class='row'>
	<h3 class='yellowtext'>{{supplierName}}:</h3>
	<div class='col-3'>
		<form role='form' method='POST' name='updateSupplier' action='/profile/supplier/update'>
			<input type='hidden' name='supplierId' id='supplierId' value='{{supplierId}}'>
			<label class='label-left yellowtext'>Name:</label><input class='form-input form-input-right' type='text' name='supplierName' id='supplierName' value='{{supplierName}}'><br><br>
			<label class='label-left yellowtext'>Beschreibung:</label><input class='form-input form-input-right'  type='text' name='supplierDescription' id='supplierDescription' value='{{supplierDescription}}'><br><br>
			<label class='label-left yellowtext'>Essen:</label><input class='form-input form-input-right'  type='text' name='supplierType' id='supplierType' value='{{supplierType}}'><br><br>
			<label class='label-left yellowtext'>Geöffnet von:</label><input class='form-input form-input-time' type='time' name='supplierStart' id='supplierStart' value='{{supplierStart}}'>
			<label class='yellowtext'> bis </label><input class='form-input form-input-time' type='time' name='supplierEnd' id='supplierEnd' value='{{supplierEnd}}'><br><br>

			<label class='label-left yellowtext'>Geöffnet am:</label>
				<label class='yellowtext'>Mo<input type='checkbox' name='supplierDay1' id='supplierDay1' {{#if supplierDay1}}checked{{/if}} /></label>
				<label class='yellowtext'>Di<input type='checkbox' name='supplierDay2' id='supplierDay2' {{#if supplierDay2}}checked{{/if}} /></label>
				<label class='yellowtext'>Mi<input type='checkbox' name='supplierDay3' id='supplierDay3' {{#if supplierDay3}}checked{{/if}} /></label>
				<label  class='yellowtext'>Do<input type='checkbox' name='supplierDay4' id='supplierDay4' {{#if supplierDay4}}checked{{/if}} /></label>
				<label  class='yellowtext'>Fr<input type='checkbox' name='supplierDay5' id='supplierDay5' {{#if supplierDay5}}checked{{/if}} /></label>
				<label  class='yellowtext'>Sa<input type='checkbox' name='supplierDay6' id='supplierDay6' {{#if supplierDay6}}checked{{/if}} /></label>
				<label  class='yellowtext'>So<input type='checkbox' name='supplierDay7' id='supplierDay7' {{#if supplierDay7}}checked{{/if}} /></label>
			<br><br>

			<label class='label-left yellowtext'>Adresse:</label><input class='form-input form-input-right'  type='text' name='supplierStreet' id='supplierStreet' value='{{supplierStreet}}'>
			<label class='label-left yellowtext'></label><br>
			<div class='form-input-right floatRight'>
				<input class='form-input form-input-plz' type='text' name='supplierZipCode' id='supplierZipCode' value='{{supplierZipCode}}'>
				<input class='form-input form-input-city' type='text' name='supplierCity' id='supplierCity' value='{{supplierCity}}'>
			</div><br><br><br>
			<label class='label-left yellowtext'>Webseite:</label><input class='form-input form-input-right'  type='url' name='supplierSite' id='supplierSite' value='{{supplierSite}}'><br><br>
			<label class='label-left yellowtext'>Email:</label><input class='form-input form-input-right'  type='email' name='supplierEmail' id='supplierEmail' value='{{supplierEmail}}'><br><br>
			<label class='label-left yellowtext'>Telefon:</label><input class='form-input form-input-right' type='tel' name='supplierPhone' id='supplierPhone' value='{{supplierPhone}}'><br><br>
			<label class='label-left yellowtext'>Liefert Essen:</label><input type='checkbox' name='supplierDoesDeliver' id='supplierDoesDeliver'
			{{#if supplierDoesDeliver}}checked='checked' {{else}}value='false'{{/if}}><br><br>
			<div id='sectionDelivery' style="display:{{#if supplierDoesDeliver}}block{{else}}none{{/if}};">
				<label class='label-left yellowtext'>Lieferung durch:</label>
				<div class='form-input form-input-div form-input-right floatRight'>
					<select class='form-input-select' id='signupRestaurantDelivery' name='signupRestaurantDelivery'>
					  <option value='Intern' {{#checkVar supplierDeliversWith 'Intern' 'selected' ''}}{{/checkVar}}>Intern</option>
					  <option value='Foodora' {{#checkVar supplierDeliversWith 'Foodora' 'selected' ''}}{{/checkVar}}>Foodora</option>
					  <option value='Deliveroo' {{#checkVar supplierDeliversWith 'Deliveroo' 'selected' ''}}{{/checkVar}}>Deliveroo</option>
					  <option value='Lieferheld' {{#checkVar supplierDeliversWith 'Lieferheld' 'selected' ''}}{{/checkVar}}>Lieferheld</option>
						<option value='Andere' {{#checkVar supplierDeliversWith 'Andere' 'selected' ''}}{{/checkVar}}>Andere</option>
					</select>
				</div>
				<br><br>
				<div id='sectionOtherDelivery' style="display:{{#checkVar supplierDeliversWith 'Andere' 'block' 'none'}}{{/checkVar}}">
					<label class='label-left yellowtext'>Andere:</label>
					<input class='form-input form-input-right floatRight' id="signupRestaurantOtherDelivery" type="text" name="signupRestaurantOtherDelivery" value={{supplierOtherDelivery}}><br>
				</div><br><br>
			</div>
			<input class='btn' type='submit' name='submitUpdate' id='submitUpdate' value='Daten aktualisieren'>
		</form>
	</div>
</div>

<script type="text/javascript">
		var sectionDelivery = document.getElementById('sectionDelivery');
		var supplierDoesDeliver = document.getElementById('supplierDoesDeliver');
		var sectionOtherDelivery = document.getElementById('sectionOtherDelivery');
		var signupRestaurantDelivery = document.getElementById('signupRestaurantDelivery');

		supplierDoesDeliver.addEventListener('change',function() {
	    if (supplierDoesDeliver.checked == true){
	    	sectionDelivery.style.display = 'block';
	    } else {
	    	sectionDelivery.style.display = 'none';
	    }
		});

		signupRestaurantDelivery.addEventListener('change', function(){
			if (signupRestaurantDelivery.value === 'Andere') {
				sectionOtherDelivery.style.display = 'block';
			} else {
				sectionOtherDelivery.style.display = 'none';
			}
		});
	</script>