<h2>{{supplierName}}</h2>
<p>Beschreibung: {{supplierDescription}}</p>
<p>Essen: {{supplierType}}</p>
<p>Geöffnet von: {{supplierStart}} bis {{supplierEnd}}</p>
<p>Adresse: {{supplierStreet}}</p>
<p>{{supplierZipCode}} {{supplierCity}}</p>
<p>{{supplierSite}}</p>
<p>{{supplierEmail}}</p>
{{#if supplierDoesDeliver}}
<p>Essen wir geliefert durch {{supplierDeliversWith}}</p>
{{/if}}


<script type="text/javascript">
	
</script>
