<div class='row'>
	<ul class='subNav'>
		<li class='subNav-listItem'>
			<a class='yellow-hover' href='#' onclick="shareWithFriends(); return false;">
			<img src='/images/icon-mail.png' alt='Send to Friend'> Versenden</a>
		</li>
		<li class='subNav-listItem'>Restaurants aus
			<select id="selectedCity" class='neutralselect yellow-hover' required name="selectedCity" onchange='switchFilter(value);'>
			  {{#each availableCities}}
			  <option value='{{this}}' {{#checkVar ../selectedCity this 'selected' ''}}{{/checkVar}}>{{this}}</option>
			  {{/each}}
			</select>
		</li>
	</ul>
</div>
<div class='row'>
	<div id='offersParent' class='center'>
		{{#suppliers}}
		<div id='supplierCard{{@index}}' class='card' style='display: {{#checkVar ../selectedCity supplierCity 'inline-table' 'none'}}{{/checkVar}};'>
			<div class='card-container'>
				<div class='card-title'>
					<span>{{supplierStart}} - {{supplierEnd}} {{#restaurantOpen supplierStart supplierEnd}}{{/restaurantOpen}}</span>
					<a href='#' class='floatRight' onclick='removeSupplier({{@index}});return false;'><img src='/images/icon-detach.png'></a>
					<h3 class='marginTop2'>{{supplierName}}</h3>
				</div>
				<div id="oben{{@index}}" class='card-frontSide' onclick='switchVisible({{@index}});'>
					{{#offers}}
					<div class='card-frontSide-left'>{{offerName}}</div>
					<div class='card-frontSide-right'>{{offerPrice}}</div>
					{{/offers}}
				</div>
				<div id='bottom{{@index}}' class='card-backSide' onclick='switchVisible({{@index}});'>
					<div>{{supplierStreet}}</div>
					<div>{{supplierZipCode}} {{supplierCity}}</div>
					<div>{{supplierTefl}}</div>
					<div><a href='{{supplierSite}}' target='_blank'>{{supplierSite}}</a></div>
					<div>{{supplierEmail}}</div>
				</div>
				<div id='alert{{@index}}' class='card-alert'>
					<div>Bitte bestätige, dass {{supplierName}} aus Deiner Favoriten-Liste genommen werden soll?</div>
					<br>
					<div style='width: 45%; margin: auto;'>
						<span><button onclick='removeConfirmed({{@index}}, "{{supplierId}}")'>Ja</button></span>
						<span style='float: right;'><button onclick='doNotRemoveSupplier({{@index}})'>Nein</button></span>
					</div>
				</div>
			</div>
		</div>
		{{/suppliers}}
	</div>
</div>
<div class='row'>

	{{> requestSupplier}}
</div>

<script type="text/javascript">

	function setCity() {
		console.log('start with this city {{selectedCity}}');
		window.selectedCity = '{{selectedCity}}';
	};
	window.onload=setCity;
	
	function switchFilter(clickedCity){
		var suppliers = [{{#each suppliers}}'{{supplierCity}}'{{#if @last}}{{else}}, {{/if}}{{/each}}];
		var offerChilds = document.getElementById('offersParent').children;
		[].forEach.call(offerChilds, function(child, index){
			if (suppliers[index] === clickedCity) {
				child.style.display = 'inline-table';
			} else {
				child.style.display = 'none';
			}
		});
		window.selectedCity = clickedCity;
	};

	function shareWithFriends(){
		var subject = "{{userName}}'s Vorschläge für die Mittagspause";
		var body = 'Hi, hier die heutigen Mittagsgerichte meiner Lieblingsrestaurants in ' + window.selectedCity + ':\r\n\r\n';
		body += 'Visit us at http://localhost:3000 \r\n\r\n';
		{{#suppliers}}
			if (window.selectedCity === '{{supplierCity}}'){
				body += '{{supplierName}}\r\n';
				body +='{{supplierStart}} - {{supplierEnd}} {{#restaurantOpen supplierStart supplierEnd}}{{/restaurantOpen}}\r\n';
				{{#offers}}
					body += '{{dish}}\t\t{{price}}\r\n';
				{{/offers}}
				body += '\r\n';
			}
		{{/suppliers}}
		var uri = "mailto:?subject=";
    uri += encodeURIComponent(subject);
    uri += "&body=";
    uri += encodeURIComponent(body);
    var helpSend = window.open(uri, '_self');
	};

	function switchVisible(index) {
    if (document.getElementById('oben' + index)) {
      if (document.getElementById('oben' + index).style.display == 'none') {
        document.getElementById('oben' + index).style.display = 'inline-table';
        document.getElementById('bottom' + index).style.display = 'none';
      } else {
        document.getElementById('oben' + index).style.display = 'none';
        document.getElementById('bottom' + index).style.display = 'inline-table';
      }
    }
  };

	function removeSupplier(index){
		console.log('oben' + index);
		document.getElementById('oben' + index).style.display = 'none';
		document.getElementById('bottom' + index).style.display = 'none';
		document.getElementById('alert' + index).style.display = 'inline-table';
	};

	function doNotRemoveSupplier(index){
		document.getElementById('oben' + index).style.display = 'inline-table';
		document.getElementById('bottom' + index).style.display = 'none';
		document.getElementById('alert' + index).style.display = 'none';
	};

	function removeConfirmed(cardId, supplierId){
		console.log('Card to be removed ' + cardId + ' Supplier to be removed' + supplierId);
		var requestData = encodeURIComponent('supplierId')+'='+encodeURIComponent(supplierId);
		var request = new XMLHttpRequest();
	  request.open("POST", "/offers/remove", true);
	  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  request.onload = function() {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	    	document.getElementById('supplierCard'+cardId).style.display='none';
	    	document.getElementById('offersParent').removeChild(document.getElementById('supplierCard' + cardId));
	    } else {
	    	console.log(request.status + ' ' +  request.statusText);
	    }
	  };
	  request.send(requestData);
	};

</script>