<h1 style="display: inline-block">Das gibt es heute: </h1>
<ul style="list-style-type: none; display: inline-block; vertical-align: middle">
	{{#each availableCities}}
	<li style="float: left; padding: 5px;" onclick="switchFilter('{{this}}')"> {{this}} </li>
	{{/each}}
	<li style="float: left; padding: 5px;"></li>
	<li style="float: left; padding: 5px;" onclick="shareWithFriends()">Freund einladen</li>
</ul>

<div id='offersParent' style="width: 100%; margin: 0 0; text-align: center">
	{{#suppliers}}
	<div id='supplierCard{{@index}}' style='width: 280px; height: 150px; border-radius: 5px;border-width: 1px;border-color: grey;border-style: solid;padding: 10px;margin: 10px; text-align: left; display: {{#checkCity ../selectedCity supplierCity 'inline-table' 'none'}}{{/checkCity}};' >
		<div style='height: 100%;'>
			<div style='height: 30%; background-color: aliceblue;'>
				<span>{{supplierStart}} - {{supplierEnd}} {{#restaurantOpen supplierStart supplierEnd}}{{/restaurantOpen}}</span>
				<span style='float: right;' onclick='removeSupplier({{@index}});'>x</span>
				<h3 style='margin-top: 2px;'>{{supplierName}}</h3>
			</div>
			{{!-- Content to swith up and down --}}
			<div id="oben{{@index}}" style="display: inline-table; width: 100%; height: 70%; background-color: lightgray;" onclick='switchVisible({{@index}});'>
				{{#offers}}
				<div style="width: 83%; display: inline-block;">{{offerName}}</div>
				<div style="width: 15%; display: inline-block; text-align: right;">{{offerPrice}}</div>
				{{/offers}}
			</div>
			<div id='unten{{@index}}' style='display: none; width: 100%; height: 70%; background-color: lightgray;' onclick='switchVisible({{@index}});'>
				<div>{{supplierStreet}}</div>
				<div>{{supplierZipCode}} {{supplierCity}}</div>
				<div>{{supplierTefl}}</div>
				<div>{{supplierSite}}</div>
				<div>{{supplierEmail}}</div>
			</div>
			<div id='alert{{@index}}' style='display: none; width: 100%; height: 70;'>
				<div>Sol {{supplierName}} wirklich aus Deiner Favoriten-Liste genommen werden?</div>
				<br>
				<div style='width: 45%; margin: auto;'>
					<span><button onclick='removeConfirmed({{@index}}, {{supplierId}})'>Ja</button></span>
					<span style='float: right;'><button onclick='doNotRemoveSupplier({{@index}})'>Nein</button></span>
				</div>
			</div>
		</div>

	</div>
	{{/suppliers}}
</div>

{{> requestSupplier}}

<script type="text/javascript">

	function setCity() {
		console.log('start with this city {{selectedCity}}');
		window.selectedCity = '{{selectedCity}}';
	};
	window.onload=setCity;
	
	function switchFilter(clickedCity){
		var suppliers = [{{#each suppliers}}'{{supplierCity}}'{{#if @last}}{{else}}, {{/if}}{{/each}}];
		var offerChilds = document.getElementById('offersParent').children;
		[].forEach.call(offerChilds, function(child, index){
			if (suppliers[index] === clickedCity) {
				child.style.display = 'inline-table';
			} else {
				child.style.display = 'none';
			}
		});
		window.selectedCity = clickedCity;
	};

	function shareWithFriends(){
		var subject = "{{userName}}'s Vorschläge für die Mittagspause";
		var body = 'Hi, hier die heutigen Mittagsgerichte meiner Lieblingsrestaurants in ' + window.selectedCity + ':\r\n\r\n';
		body += 'Visit us at http://localhost:3000 \r\n\r\n';
		{{#suppliers}}
			if (window.selectedCity === '{{supplierCity}}'){
				body += '{{supplierName}}\r\n';
				body +='{{supplierStart}} - {{supplierEnd}} {{#restaurantOpen supplierStart supplierEnd}}{{/restaurantOpen}}\r\n';
				{{#offers}}
					body += '{{dish}}\t\t{{price}}\r\n';
				{{/offers}}
				body += '\r\n';
			}
		{{/suppliers}}
		var uri = "mailto:?subject=";
    uri += encodeURIComponent(subject);
    uri += "&body=";
    uri += encodeURIComponent(body);
    var helpSend = window.open(uri, '_self');
	};

	function switchVisible(index) {
    if (document.getElementById('oben' + index)) {
      if (document.getElementById('oben' + index).style.display == 'none') {
        document.getElementById('oben' + index).style.display = 'inline-table';
        document.getElementById('unten' + index).style.display = 'none';
      } else {
        document.getElementById('oben' + index).style.display = 'none';
        document.getElementById('unten' + index).style.display = 'inline-table';
      }
    }
  };

	function removeSupplier(index){
		console.log('oben' + index);
		document.getElementById('oben' + index).style.display = 'none';
		document.getElementById('unten' + index).style.display = 'none';
		document.getElementById('alert' + index).style.display = 'inline-table';
	};

	function doNotRemoveSupplier(index){
		document.getElementById('oben' + index).style.display = 'inline-table';
		document.getElementById('unten' + index).style.display = 'none';
		document.getElementById('alert' + index).style.display = 'none';
	};

	function removeConfirmed(cardId, supplierId){
		console.log('Card to be removed ' + cardId + ' Supplier to be removed' + supplierId);
		var requestData = encodeURIComponent('supplierId')+'='+encodeURIComponent(supplierId);
		var request = new XMLHttpRequest();
	  request.open("POST", "/offers/remove", true);
	  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  request.onload = function() {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	    	document.getElementById('supplierCard'+cardId).style.display='none';
	    	document.getElementById('offersParent').removeChild(document.getElementById('supplierCard' + cardId));
	    } else {
	    	console.log(request.status + ' ' +  request.statusText);
	    }
	  };
	  request.send(requestData);
	};

</script>