<div class='row'>
	<ul class='subNav'>
		<li class='subNav-listItem'>
			<form action='/offers/select' method='GET'>
				<label>Restaurants aus 
					<select id="selectedCity" class='neutralselect yellow-hover' required name="selectedCity" onchange='this.form.submit();'>
					  {{#each availableCities}}
					  <option value='{{this}}' {{#checkVar ../selectedCity this 'selected' ''}}{{/checkVar}}>{{this}}</option>
					  {{/each}}
					</select> auswählen
				</label>
			</form>
		</li>
	</ul>
	{{!-- <div class='center'> --}}
		<p class='center yellowtext'>Wähle Restaurants in Deine Favoriten-Liste in dem Du auf das Herz <img src='/images/icon-loveY.png'> clickst und siehe unter - <a class='yellow-hover' href='/offers'>Was gibt es heute?</a> - dessen Tagesangebote</p>
	{{!-- </div> --}}
</div>

<div class='row'>
	{{#if suppliers}}
	<div id='offersParent' class='center'>
		{{#suppliers}}
			{{!-- Card --}}
			<div id='supplier{{_id}}' class='card' style='display: inline-table'>
				<div class='card-container'>
					{{!-- Card-Header --}}
					<div class='card-header'>
						<h3 class='card-header-title'>{{supplierName}}<a href='#' class='floatRight' onclick="appendSupplier('{{_id}}', '{{supplierName}}');return false;"><img src='/images/icon-love.png' alt='hinzufügen'></a></h3>
						<span>{{supplierDescription}}</span>
					</div>
					{{!-- Card Back Side --}}
						<div id='bottom{{@index}}' class='card-backSide' style='display: block;'>
							<div>{{supplierStreet}}</div>
							<div>{{supplierZipCode}} {{supplierCity}}</div>
							<div>{{supplierPhone}}</div>
							<div><a class='yellow-hover' href='{{supplierSite}}' target='_blank'>{{supplierSite}}</a></div>
							<div><span onclick='noDefault();'><a href='mailto:{{supplierEmail}}' onclick='noDefault(this);'></span><img src='/images/icon-mail-small.png' /> </a>{{supplierEmail}}</div>
							<div>
								{{#if supplierFB}}<a target="_blank" href='{{supplierFB}}'><img src='/images/icon-facebook.png' /></a>&emsp;{{/if}}
								{{#if supplierTw}}<a target="_blank" href='{{supplierTw}}'><img src='/images/icon-twitter.png' /></a>&emsp;{{/if}}
								{{#if supplierInst}}<a target="_blank" href='{{supplierInst}}'><img src='/images/icon-instagram.png' /></a>&emsp;{{/if}}
							</div>
						</div>
				</div>
			</div>
		{{/suppliers}}
	</div>
	{{else}}
		<span>Bitte helf uns weitere Restaurants für unsere Liste zu gewinnen und trage Deine Vorschläge unten ein</span>
		<br><br>
	{{/if}}
		<div id='appendSupplierSuccessMessage' style='display: none;'>
			<h3 id='successMessage'></h3>
		</div>
	</div>

<div class='row'>
	{{> requestSupplier}}
</div>

<script type='text/javascript'>

	function openOffers(indexO){
		var open = document.getElementById('offer' + indexO);
		open.style.display = 'block';
	};

	function closeOffers(indexC){
		var close = document.getElementById('offer' + indexC);
		close.style.display = 'none';
	};

	function appendSupplier(supplierId, supplierName){
		var requestData = encodeURIComponent('supplierId')+'='+encodeURIComponent(supplierId);
		var request = new XMLHttpRequest();
	  request.open("POST", "select/append", true);
	  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  request.onload = function() {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	    	document.getElementById('supplier'+supplierId).style.display = 'none';
	    	document.getElementById('successMessage').innerHTML = 'Restaurant ' +  supplierName + ' ist Deiner Favoriten-Liste hinzugefügt'; 
	    	document.getElementById('appendSupplierSuccessMessage').style.display = 'block';
	    	setInterval(function(){document.getElementById('appendSupplierSuccessMessage').style.display = 'none'}, 3000);
	    } else {
	    	console.log(request.status + ' ' +  request.statusText);
	    }
	  };
	  request.send(requestData);
	};
</script>