<h3>Übernehme Restaurants aus {{selectedCity}} und deren Mittagsangebote in Deine Favoriten Liste</h3>
<form action='/offers/select' method='GET'> {{!--  target="_blank"  --}}
	<label>In einer anderen Stadt nach Restaurants suchen? 
		<select id="selectedCity" required name="selectedCity" onchange='this.form.submit();'>
		  {{#each availableCities}}
		  <option value='{{this}}' {{#checkVar ../selectedCity this 'selected' ''}}{{/checkVar}}>{{this}}</option>
		  {{/each}}
	  </select>
	</label>
</form>
<br><br>
{{#if suppliers}}
	{{#suppliers}}
		<div id='supplier{{_id}}'>
			<div style='float: left'>
				<span>{{supplierName}}, {{supplierDescription}}, {{supplierStreet}}, <a target="_blank" href="http://{{supplierSite}}">{{supplierSite}}</a>  <span onmouseover='openOffers("{{@index}}")' onmouseout='closeOffers("{{@index}}")'>&#9776;</span></span>
			</div>
			<div style='float: right;'>
				<span style='float: right; background-color: black;color: white;width: 30px;text-align: center;border-radius: 6px;' onclick="appendSupplier('{{_id}}', '{{supplierName}}')" > + </span>	
			</div>
			<div id='offer{{@index}}' style='width: 200px; display:none; position:absolute; background-color: black; color: white; padding: 8px;'><h4>{{supplierName}}</h4>{{#offers}}<span style='float: left;'>{{offerName}}</span><span style='float: right;'>{{offerPrice}}</span><br><br>{{/offers}}</div>
			<div style="clear:both;"></div><br>
		</div>
	{{/suppliers}}
{{else}}
	<div>Bitte helf uns weitere Restaurants für unsere Liste zu gewinnen und trage Deine Vorschläge unten ein</div>
{{/if}}
	<div id='appendSupplierSuccessMessage' style='display: none;'><h3 id='successMessage'></h3></div>

{{> requestSupplier}}

<script type='text/javascript'>

	function openOffers(indexO){
		var open = document.getElementById('offer' + indexO);
		open.style.display = 'block';
	};

	function closeOffers(indexC){
		var close = document.getElementById('offer' + indexC);
		close.style.display = 'none';
	};

	function appendSupplier(supplierId, supplierName){
		var requestData = encodeURIComponent('supplierId')+'='+encodeURIComponent(supplierId);
		var request = new XMLHttpRequest();
	  request.open("POST", "select/append", true);
	  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  request.onload = function() {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	    	document.getElementById('supplier'+supplierId).style.display = 'none';
	    	document.getElementById('successMessage').innerHTML = 'Restaurant ' +  supplierName + ' ist Deiner Favoriten-Liste hinzugefügt'; 
	    	document.getElementById('appendSupplierSuccessMessage').style.display = 'block';
	    	setInterval(function(){document.getElementById('appendSupplierSuccessMessage').style.display = 'none'}, 3000);
	    } else {
	    	console.log(request.status + ' ' +  request.statusText);
	    }
	  };
	  request.send(requestData);
	};
</script>