{{!-- Title and Select Restaurant --}}
<div class='row'>
	<form action='/supply' method='GET'>
		<label><h3 style='display: inline;'>Mittagsangebote für  </h3> 
			<select id="selectedSupplier" class='neutralselect yellow-hover' required name="selectedSupplier" onchange='this.form.submit();'>
			  {{#each supplier}}
			  <option value='{{@index}}' {{#checkVar ../selectedSupplier @index 'selected' ''}}{{/checkVar}}>{{this}}</option>
			  {{/each}}
		  </select>
		</label>
	</form>
</div>
{{!-- Input the Dish Data --}}
<div class='row'>
	<div class='col-3'>
		<form role='form' method='POST' name='offerInput' action='supply/offer'>
			<label class='label-left'>Datum: </label><input type='date' class='form-input form-input-right' id='offerDate' name='offerDate'><br><br>
			<label class='label-left'>Speise: </label><input type='text' class='form-input form-input-right' id='offerName' name='offerName' placeholder='Speise'><br><br>
			<label class='label-left'>Preis: </label><input type='number' class='form-input form-input-right' id='offerPrice' name='offerPrice' min='0.01' step='0.01' max='100' ><br><br>
			<label class='label-left'></label>
			<div class='form-input form-input-div form-input-right floatRight'>
				<select name='offerType' class='form-input' id='offerType'>
				  <option value='0'>Vorspeise</option> 
				  <option value='10' selected>Hauptspeise</option>
				  <option value='100'>Nachtisch</option>
				</select>
			</div>
			<br><br>
			<label class='label-left'></label>
			<input class='btn floatRight' type='submit' id='offerSubmit' value='Speise hochladen'/>
			<span class='label-left' id='offerAlert' style='display:none;'>Danke, Tagesangebot wurde erfasst</span>
		</form>
	</div>
</div>
{{#if category1}}
	{{!-- Select Date Range to display your Restaurants Dishes --}}
	<div class='row'>
		<form role='form' method='POST' name='reloadSite' action='supply'>
			<input type='hidden' name='selectedSupplier' value='{{selectedSupplier}}'>
			<h3>Die Mittagsangebote Deines Restaurants ab dem <input type='date' class='form-input' id='startDate' name='startDate'> für die nächsten <input type='number' name='endNumberDays' class='form-input' id='endNumberDays' min='1' max='14'> Tage: <input type='submit' class='btn' name='offerUpdate' id='offerUpdate' value='Aktualisieren' style='display: none'></h3>
		</form>
	</div>
	{{!-- Display Dishes per Day --}}
	<div  class='row'>
		<div class='center'>
			{{#each category1}}
			<div class='card' style='display: inline-table;'>
				<div class='card-container'>
					<div class='card-header'>
						<h3 class='card-header-title'>{{#displayDate date}}{{/displayDate}}</h3>
					</div>
					{{!-- Card Front Side --}}
					<div id='offers{{date}}' class='card-frontSide'>
						{{#offers}}
						<div id='{{offerId}}'>
							<div class='card-frontSide-left' style='padding-left: 5px;'><a href='#' onclick='deleteOffer("{{offerId}}", "offers{{../date}}"); return false;'>
								<img src='/images/icon-detach.png'></a> {{offerName}}</div>
							<div class='card-frontSide-right'>{{offerPrice}}</div>
						</div>
						{{/offers}}
					</div>
				</div>
			</div>
			{{/each}}
		</div>		
	</div>
{{/if}}

<script type='text/javascript'>
	function setDefaultDate (){
		console.log('{{startDate}}');
		document.getElementById('offerDate').value = '{{startDate}}';
		document.getElementById('offerName').focus();
		{{#if category1}}
			document.getElementById('endNumberDays').value = {{numberDays}};
			document.getElementById('startDate').value = '{{startDate}}';
		{{else}}
			console.log('No offers available');
		{{/if}}
	};

	window.onload= setDefaultDate();

	function showUpdateBtn(){
		document.getElementById('offerUpdate').style.display='inline';
	};

	{{#if category1}}
	document.getElementById('startDate').addEventListener('change', showUpdateBtn);
	document.getElementById('endNumberDays').addEventListener('change', showUpdateBtn);
	{{/if}}

	function deleteOffer(offerId, offerDate){
		console.log(offerId, offerDate);
		var requestData = encodeURIComponent('offerId')+'='+encodeURIComponent(offerId);
		var request = new XMLHttpRequest();
	  request.open('DELETE', 'supply/offer', true);
	  request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	  request.onload = function(ev) {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	      document.getElementById(offerDate).removeChild(document.getElementById(offerId));
	    } else {
	    	console.log(status);
	    }
	  };
	  request.send(requestData);
	};

	document.forms.namedItem('offerInput').addEventListener('submit', function(event) {
		var requestData = encodeURIComponent('offerDate') + '=' + 
		encodeURIComponent(document.getElementById('offerDate').value) + '\&' +
		encodeURIComponent('offerName') + '=' + 
		encodeURIComponent(document.getElementById('offerName').value) + '\&' +
		encodeURIComponent('selectedSupplier') + '=' + 
		encodeURIComponent(document.getElementById('selectedSupplier').value) + '\&' +
		encodeURIComponent('offerPrice') + '=' + 
		encodeURIComponent(document.getElementById('offerPrice').value) + '\&' +
		encodeURIComponent('offerCategory') + '=' + 1 + '\&' + // 1 = Lunch
		encodeURIComponent('offerType') + '=' + 
		encodeURIComponent(document.getElementById('offerType').value);
		console.log(requestData);
		var request = new XMLHttpRequest();
	  request.open('POST', '/supply/offer', true);
	  request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
	  request.onload = function() {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	    	document.getElementById('offerDate').valueAsDate = new Date();
	    	document.getElementById('offerName').value = '';
	    	document.getElementById('offerPrice').value = 0;
	    	document.getElementById('offerAlert').style.display = 'block';
	    	document.getElementById('offerName').focus();
	    } else {
	    	console.log(request.status);
	    }
	  };
	  request.send(requestData);
	  event.preventDefault();
	}, false);
</script>