<div class='row'>
	<h1>ADMIN</h1>

	<label>Neue Stadt erfassen: 
	<input type='text' name='cityName' id ='cityName'><input type='submit' name='submitBTN' id='submitBTN'></label>

	<div id='parent'>
		{{#cities}}
		<div>
			<label><input type='checkbox' id='city{{_id}}' {{#if cityStatus}}checked{{/if}} onclick='changeCityStatus("{{_id}}")'>{{cityName}}</label>
		</div>
		{{/cities}}
	</div>
	<br>
	<div class='row'>
		<h3>Nachrichten:</h3>
		{{#contacts}}
			<p>{{contactName}} {{contactEmail}} {{contactText}} {{created}}</p>
		{{/contacts}}
	</div>


	<div class='row'>
		<h3>Offene Anfragen:</h3>
		{{#proposals}}
			<p>"{{proposalInfo}}" von: {{proposalBy.username}} am: {{proposalCreated}} status: <select id='{{_id}}' onchange='changeStatus(this)'>
				<option value='recorded' {{#checkVar proposalStatus 'recorded' 'selected' ''}}{{/checkVar}}>Eingereicht</option>
				<option value='assigned' {{#checkVar proposalStatus 'assigned' 'selected' ''}}{{/checkVar}}>In Bearbeitung</option>
				<option value='completed' {{#checkVar proposalStatus 'completed' 'selected' ''}}{{/checkVar}}>Erledigt</option>
				<option value='rejected' {{#checkVar proposalStatus 'rejected' 'selected' ''}}{{/checkVar}}>Abgelehnt</option>
			</select></p>
		{{/proposals}}
	</div>

	<div class='row'>
		<h3>Letzte Restaurant-Anmeldungen:</h3>
		{{#suppliers}}
			<p>{{supplierName}} {{supplierType}} {{supplierCity}}</p>
		{{/suppliers}}
	</div>

	<div class='row'>
		<h3>Letzte User-Anmeldungen:</h3>
		{{#users}}
			<p>{{isAuthenticated}} {{name}} {{username}} {{role}} {{gender}} {{age}} {{created}}</p>
		{{/users}}
	</div>

	<div class='row'>
		<h3>Letzte Prospects-Anmeldungen:</h3>
		{{#prospects}}
			<p>{{prospectEmail}} {{isAuthenticated}} {{created}}</p>
		{{/prospects}}
	</div>
</div>

<script type="text/javascript">

	var helpCities = [];
	{{#cities}}
		helpCities.push('{{cityName}}');
	{{/cities}}

	function changeStatus(event){
		var requestData = encodeURIComponent('proposalId')+'='+encodeURIComponent(event.id) + '\&' +
			encodeURIComponent('proposalStatus')+'='+encodeURIComponent(event.value);
		var request = new XMLHttpRequest();
	  request.open("PUT", "admin/proposal", true);
	  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
	  request.onload = function() {
	    if (request.status == 200) {
	    	console.log(request.statusText);
	    } else {
	    	console.log(request.status + ' ' +  request.statusText);
	    }
	  };
	  request.send(requestData);
	};

	function findInArray (array, value) {
    for(var i = 0; i < array.length; i += 1) {
    	if(array[i] === value) {
    		return i;
    	}
    }
    return -1;
  };

	document.getElementById('submitBTN').addEventListener('click', function() {
		if ( findInArray(helpCities, document.getElementById('cityName').value) < 0 ) {
			var requestData = encodeURIComponent('cityName')+'='+encodeURIComponent(document.getElementById('cityName').value);
			var request = new XMLHttpRequest();
		  request.open("POST", "admin/city", true);
		  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		  request.onload = function() {
		    if (request.status == 200) {
		    	console.log(request.statusText);

		    } else {
		    	console.log(request.status + ' ' +  request.statusText);
		    }
		  };
		  request.send(requestData);
		} 
	}, false);

	function changeCityStatus(cityId) {
		if (document.getElementById('city' + cityId)){
			var newStatus = document.getElementById('city' + cityId).checked? true : false;
			var requestData = encodeURIComponent('cityStatus')+'='+encodeURIComponent(newStatus) + '\&' +
				encodeURIComponent('cityId')+'='+encodeURIComponent(cityId);
			var request = new XMLHttpRequest();
		  request.open("PUT", "admin/city", true);
		  request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		  request.onload = function() {
		    if (request.status == 200) {
		    	console.log(request.statusText);
		    } else {
		    	console.log(request.status + ' ' +  request.statusText);
		    }
		  };
		  request.send(requestData);
		}
	};

</script>