<div class='row'>
	<form role="form" action="/admin/quotes" method="POST">
	  <input class='form-input form-input-standard' type="text" required id="fieldquoteAuthor" name="quoteAuthor" placeholder='Autor'>
	  <br><br>
	  <textarea id='quoteText' name='quoteText' class='form-input form-input-standard' placeholder='Zitat'></textarea>
	  <br><br>
	  <button class='btn' type="submit">Erfassen</button>
	</form>
</div>
<div class='row'>
	{{#quotes}}
		<div>
			<label><input type='checkbox' id='quote{{_id}}' {{#if quoteStatus}}checked{{/if}} onclick='changequoteStatus("{{_id}}")'>{{quoteType}} {{quoteAuthor}}:<br>"{{quoteText}}"</label><br><br>
		</div>
	{{/quotes}}
</div>